.Header{
    display: flex;
    gap: 10%;
    align-items: center;
    margin-bottom: 2%;
   
}

#hero{
    color: rgba(230, 28, 28, 0.733);
}

body{
    font-size: 36px;
    font-weight: 400px;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 6%;
    margin-right: 5%;
    overflow-x: hidden;
    background: #fff;
    color: #5b5982;
    font-weight: bold;
}

.Navbar{
    display: flex;
    color: #5b5982;
    margin-left: 8%;
    gap: 40%;
    align-items: center;
    margin-top: 1%;
}

#navbarlinks {
    display: flex;
    gap: 8%;
    margin-bottom: 1%;
    color: #5b5982;
}


#navbarlinks ul{
    display: flex;
    list-style-type: none;
    color: #A4B7CF;
    gap: 10%;
}

#landing{
    color: #211d64;
}

button{

    background-color: rgb(31, 154, 158);
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 40%;
}

#login-button{
    color: red;
    border: solid 1px;
    border-color:red;
    border-radius: 70px;
    padding: 20px 60px;
    background-color: transparent;
}

#explore-now-button{
    color:white;
    border: solid 1px;
    border-color:red;
    background-color: red;
    border-radius: 70px;
    padding: 33px 50px;
    margin-left: -170px;
    margin-top: -10px;
    box-shadow:  inset 1px 1px 10px #000;

}

#join-button{
    color:white;
    border-color:red;
    background-color: red;
    padding: 25px 50px;
    border-radius: 60px;
    box-shadow:  inset 1px 1px 10px #000;
    align-items: center;
}

#input{
    background-color:transparent;
    border-color: black;
    padding: 28px;
    width: 75%;
    border-radius:70px ;
    font-size: 24px;
}

.Landing-page-text{
    display: flex;
    flex-direction: row;
    gap: 15%;
    
}

#man-in-redcape{
    object-fit: cover;
    width: 130%;
    height: 100%;
    border-radius: 50%;

}

#Subscription-text{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding-top: 5%;
    justify-content: space-between;

}


#icons{
    color: grey;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    padding-left: 8%;

}

.hamburger-button {
    background-color:transparent;
    color: #5b5982;;
    padding: 15px;
    font-size: 50px;
    cursor: pointer;
    margin-left: 1600%;
    align-items: center;
 }




@media only screen and (min-width:375px) and (max-width:435px){
.Header{
    display: flex;
    gap: 10%;
    align-items: center;
    margin-bottom: 2%;

}
