.Header{
    display: flex;
    gap: 10%;
    align-items: center;
    margin-bottom: 5%;
   
}

#hero{
    color: red;
}

body{
    font-size: 40px;
    font-weight: 400px;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 6%;
    margin-right: 5%;
    overflow-x: hidden;
    background: #fff;
    color: #5b5982;

}


#Navbar ul{
    display: flex;
    gap: 10%;
    color: rgb(45, 11, 11);
    align-items: center;
    text-decoration:none;
    color: #5b5982;
    margin-left: 20%;

}

#landing{
    color: #211d64;
}

button{

    background-color: rgb(31, 154, 158);
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 40%;

}
#login-button{
    color: red;
    border: solid 1px;
    border-color:red;
    border-radius: 70px;
    padding: 25px 50px;
    background-color: transparent;
}

#explore-now-button{
    color:white;
    border: solid 1px;
    border-color:red;
    background-color: red;
    border-radius: 70px;
    padding: 25px 50px;
    margin-left: -160px;
    margin-top: -22px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#join-button{
    color:white;
    border-color:red;
    background-color: red;
    padding: 25px 50px;
    border-radius: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#input{
    background-color:transparent;
    border-color: black;
    padding: 28px;
    width: 60%;
    border-radius:30px ;
    font-size: 24px;
}

.Landing-page-text{
    display: flex;
    flex-direction: row;
    gap: 8%;
    
}

#man-in-redcape{
    object-fit: cover;
    width: 140%;
    height: 100%;
    border-radius: 50%;

}

#Subscription-text{
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding-top: 5%;

}


#icons{
    color: grey;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    padding-top: 10%;
    padding-left: 8%;

}

.hamburger-button {
    background-color: #333;
    color: white;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
 }

 .nav-links {
    display: none;
    background-color: #333;
    color: white;
 }



@media only screen and (min-width:400px) and (max-width:900px){
    .Header{
        display: block;
    }

    body{
        font-size: 20px;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: 6%;
        margin-right: 5%;
        overflow-x: hidden;
        background: #fff;
        color: #5b5982;
    }

    #Navbar ul{
        display:block;
        color: rgb(45, 11, 11);
        text-decoration:none;
        color: #5b5982;
    }

    #Navbar{
        display:block;
    }

    button{
        background-color: rgb(31, 154, 158);
        border: none;
        color: white;
        padding: 20px 50px;
        text-decoration: none;
        font-size: 24px;
        border-radius: 40%;
    
    }

    #login-button{
        color: red;
        border: solid 1px;
        border-color:red;
        border-radius: 70px;
        padding: 25px 50px;
        background-color: transparent;
    }

    #input{
        background-color:transparent;
        border-color: black;
        padding: 28px;
        width: 60%;
        border-radius:30px ;
        font-size: 20px;
    }

    .Landing-page-text{
        display: block;

    }

    #man-in-redcape{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-top: 5%;
    
    }

    #icons{
        color: grey;
        display: block;
        align-items: center;
        padding-top: 10%;
        padding-left: 8%;
    
    }

    #Subscription-text{
        display: block;
    }

    #explore-now-button{
        background-color: red;
        border-radius: 70px;
        padding: 25px 30px;
        margin-left: -60px;
        margin-top: -25px;
    }
    
    #join-button{
        color:white;
        border-color:red;
        background-color: red;
        padding: 15px 50px;
        border-radius: 60px;
        display: block;
        margin-top: 5%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    #buttons{
        display: block;

    }

    
}


@media only screen and (min-width:300px) and (max-width:500px){
    .Header{
        display: block;
        flex-direction: column;
    }

    body{
        font-size: 30px;
        font-weight: 400px;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: 6%;
        margin-right: 5%;
        overflow-x: hidden;
        background: #fff;
        color: #5b5982;
    }

    #Navbar ul{
        display:block;
        color: rgb(45, 11, 11);
        text-decoration:none;
        color: #5b5982;
        flex-direction: column;
    }

    #Navbar{
        display:block;
        flex-direction: column;
    }

    button{
        background-color: rgb(31, 154, 158);
        border: none;
        color: white;
        padding: 20px 50px;
        text-decoration: none;
        font-size: 24px;
        border-radius: 40%;
    
    }

    #login-button{
        color: red;
        border: solid 1px;
        border-color:red;
        border-radius: 70px;
        padding: 25px 50px;
        background-color: transparent;
    }

    #input{
        background-color:transparent;
        border-color: black;
        padding: 28px;
        width: 60%;
        border-radius:30px ;
        font-size: 20px;
    }

    .Landing-page-text{
        display: block;

    }

    #man-in-redcape{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-top: 5%;
    
    }

    #icons{
        color: grey;
        display: block;
        align-items: center;
        padding-top: 10%;
        padding-left: 8%;
    
    }

    #Subscription-text{
        display: block;
    }

    #explore-now-button{
        background-color: red;
        border-radius: 70px;
        padding: 25px 50px;
        margin-left: -160px;
        margin-top: -22px;
    }
    
    #join-button{
        color:white;
        border-color:red;
        background-color: red;
        padding: 25px 50px;
        border-radius: 60px;
        display: block;
        margin-top: 5%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    #buttons{
        display: block;

    }

    
}

@media only screen and (min-width:350px) and (max-width:800px){
    .Header{
        display: block;
        flex-direction: column;
    }

    body{
        font-size: 30px;
        font-weight: 400px;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: 6%;
        margin-right: 5%;
        overflow-x: hidden;
        background: #fff;
        color: #5b5982;
    }

    #Navbar ul{
        display:block;
        color: rgb(45, 11, 11);
        text-decoration:none;
        color: #5b5982;
        flex-direction: column;
    }

    #Navbar{
        display:block;
        flex-direction: column;
    }

    button{
        background-color: rgb(31, 154, 158);
        border: none;
        color: white;
        padding: 20px 50px;
        text-decoration: none;
        font-size: 24px;
        border-radius: 40%;
    
    }

    #login-button{
        color: red;
        border: solid 1px;
        border-color:red;
        border-radius: 70px;
        padding: 25px 50px;
        background-color: transparent;
    }

    #input{
        background-color:transparent;
        border-color: black;
        padding: 28px;
        width: 60%;
        border-radius:30px ;
        font-size: 20px;
    }

    .Landing-page-text{
        display: block;

    }

    #man-in-redcape{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-top: 5%;
    
    }

    #icons{
        color: grey;
        display: block;
        align-items: center;
        padding-top: 10%;
        padding-left: 8%;
    
    }

    #Subscription-text{
        display: block;
    }

    #explore-now-button{
        background-color: red;
        border-radius: 70px;
        padding: 25px 50px;
        margin-left: -160px;
        margin-top: -100%;
    }
    
    #join-button{
        color:white;
        border-color:red;
        background-color: red;
        padding: 25px 50px;
        border-radius: 60px;
        display: block;
        margin-top: 5%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    #buttons{
        display: block;

    }

    
}


@media only screen and (min-width:800px) and (max-width:1200px){
    .Header{
        display: block;
    }

    body{
        font-size: 30px;
        font-weight: 400px;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: 6%;
        margin-right: 5%;
        overflow-x: hidden;
        background: #fff;
        color: #5b5982;
    }

    #Navbar ul{
        display:block;
        color: rgb(45, 11, 11);
        text-decoration:none;
        color: #5b5982;
    }

    #Navbar{
        display:block;
        margin-right: 50%;
       row-gap: 20%;
    }

    button{
        background-color: rgb(31, 154, 158);
        border: none;
        color: white;
        padding: 20px 50px;
        text-decoration: none;
        font-size: 24px;
        border-radius: 40%;
    
    }

    #login-button{
        color: red;
        border: solid 1px;
        border-color:red;
        border-radius: 70px;
        padding: 25px 50px;
        background-color: transparent;
    }

    #input{
        background-color:transparent;
        border-color: black;
        padding: 28px;
        width: 50%;
        border-radius:30px ;
        font-size: 20px;
    }

    .Landing-page-text{
        display: block;

    }

    #man-in-redcape{
        object-fit: cover;
        width: 70%;
        height: 100%;
        border-radius: 50%;
        margin-top: 5%;
        margin-right: 10%;
    
    }

    #icons{
        color: grey;
        display: block;
        align-items: center;
        padding-top: 10%;
        padding-left: 8%;
    
    }

    #Subscription-text{
        display: block;
    }

    #explore-now-button{
        background-color: red;
        border-radius: 70px;
        padding: 25px 30px;
        margin-left: -140px;
        margin-top: -25px;
    }
    
    #join-button{
        color:white;
        border-color:red;
        background-color: red;
        padding: 15px 50px;
        border-radius: 60px;
        display: block;
        margin-top: 5%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    #buttons{
        display: block;

    }

    
}


@media only screen and (min-width:750px) and (max-width:1050px){
    .Header{
        display: block;
    }

    body{
        font-size: 48px;
        font-weight: 400px;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: 6%;
        margin-right: 5%;
        overflow-x: hidden;
        background: #fff;
        color: #5b5982;
    }

    #Navbar ul{
        color: rgb(45, 11, 11);
        text-decoration:none;
        color: #5b5982;
        display: grid;
        grid-template-columns: 10% 10%;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
    }

    #Navbar{
        display: grid;
        grid-template-columns: 10% 10%;
        grid-template-columns: 1fr 1fr;
    }

    button{
        background-color: rgb(31, 154, 158);
        border: none;
        color: white;
        padding: 20px 50px;
        text-decoration: none;
        font-size: 40px;
        border-radius: 40%;
    
    }

    #login-button{
        color: red;
        border: solid 1px;
        border-color:red;
        border-radius: 70px;
        padding: 25px 50px;
        background-color: transparent;
    }

    #input{
        background-color:transparent;
        border-color: black;
        padding: 28px;
        width: 50%;
        border-radius:30px ;
        font-size: 30px;
    }

    .Landing-page-text{
        display: block;

    }

    #man-in-redcape{
        object-fit: cover;
        width: 160%;
        height: 100%;
        border-radius: 50%;
        margin-top: 5%;
        margin-right: 10%;
    
    }

    #icons{
        color: grey;
        padding-top: 10%;
        align-items: center;
    
    
    }

    #Subscription-text{
        display: block;
    }

    #explore-now-button{
        background-color: red;
        border-radius: 70px;
        padding: 25px 30px;
        margin-left: -60px;
        margin-top: -25px;
    }
    
    #join-button{
        color:white;
        border-color:red;
        background-color: red;
        padding: 15px 50px;
        border-radius: 60px;
        display: block;
        margin-top: 5%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }


    
}


@media only screen and (min-width:260px) and (max-width:700px){
    .Header{
        display: block;
    }

    body{
        font-size: 48px;
        font-weight: 400px;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: 6%;
        margin-right: 5%;
        overflow-x: hidden;
        background: #fff;
        color: #5b5982;
    }

    #Navbar ul{
        color: rgb(45, 11, 11);
        text-decoration:none;
        color: #5b5982;
        display: grid;
        grid-template-columns: 20% 20%;
        grid-template-columns: 1fr 1fr;
        gap: 20%;
        margin-right: 60%;
    }

    #Navbar{
        display: grid;
        grid-template-columns: 20% 20%;
        grid-template-columns: 1fr 1fr;
    }

    button{
        background-color: rgb(31, 154, 158);
        border: none;
        color: white;
        padding: 20px 50px;
        text-decoration: none;
        font-size: 40px;
        border-radius: 40%;
    
    }

    #login-button{
        color: red;
        border: solid 1px;
        border-color:red;
        border-radius: 70px;
        padding: 25px 50px;
        background-color: transparent;
    }

    #input{
        background-color:transparent;
        border-color: black;
        padding: 28px;
        width: 160%;
        border-radius:30px ;
        font-size: 30px;
    }

    .Landing-page-text{
        display: block;

    }

    #man-in-redcape{
        object-fit: cover;
        width: 250%;
        height: 300%;
        border-radius: 50%;
        margin-top: 5%;
    
    }

    #icons{
        color: grey;
        padding-top: 10%;
        display: block;
    
    
    }

    #Subscription-text{
        display: block;
        align-items: center;
    }

    #explore-now-button{
        background-color: red;
        border-radius: 70px;
        padding: 15px 50px;
        margin-left: -10px;
        margin-top: -25px;
    }
    
    #join-button{
        color:white;
        border-color:red;
        background-color: red;
        padding: 15px 50px;
        border-radius: 60px;
        display: block;
        margin-top: 5%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }


    
}


@media only screen and (min-width:700px) and (max-width:1300px){
    .Header{
        display: block;
        align-items: center;

    }

    body{
        font-size: 48px;
        font-weight: 400px;
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: 6%;
        margin-right: 5%;
        overflow-x: hidden;
        background: #fff;
        color: #5b5982;
    }

    #Navbar ul{
        color: rgb(45, 11, 11);
        text-decoration:none;
        color: #5b5982;
        display: grid;
        grid-template-columns: 20% 20% ;
        grid-template-columns: 1fr 1fr ;
        gap: 30%;

    }

    #Navbar{
        display: grid;
        grid-template-columns: 20% 20%;
        grid-template-columns: 1fr 1fr;
    }

    button{
        background-color: rgb(31, 154, 158);
        border: none;
        color: white;
        padding: 20px 50px;
        text-decoration: none;
        font-size: 40px;
        border-radius: 40%;
    
    }

    #login-button{
        color: red;
        border: solid 1px;
        border-color:red;
        border-radius: 70px;
        padding: 25px 50px;
        background-color: transparent;
    }

    #input{
        background-color:transparent;
        border-color: black;
        padding: 28px;
        width: 60%;
        border-radius:30px ;
        font-size: 30px;
    }

    .Landing-page-text{
        display: block;

    }

    #man-in-redcape{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-top: 5%;
    
    }

    #icons{
        color: grey;
        padding-top: 10%;
        display: block;
    
    }

    #Subscription-text{
        display: block;
        align-items: center;
    }

    #explore-now-button{
        background-color: red;
        border-radius: 70px;
        padding: 15px 50px;
        margin-left: -160px;
        margin-top: -25px;
    }
    
    #join-button{
        color:white;
        border-color:red;
        background-color: red;
        padding: 15px 50px;
        border-radius: 60px;
        display: block;
        margin-top: 5%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }



    
}








    





    





    





    